<% provide :title, t("views.login.login") %>

<div class="row">
  <div class= "col-md-6 col-md-offset-3 panel panel-default">
    <div class="col-md-12 text-center">
      <h1><%= t "views.login.login" %></h1><br>
    </div>

    <%= form_for :session, url: sessions_path do |f| %>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </p>
      <p><%= f.submit t("views.login.login"), class: "btn btn-default" %></p>
    <% end %>
    <p>
      <%= t "views.login.new_user" %>
      <%= link_to t("views.signup.signup_now"), new_user_path %>
    </p>
  </div>
</div>
