<% provide :title, t("views.update.update") %>

<div class = "row">
  <div class= "col-md-6 col-md-offset-3 panel panel-default">
    <h1><%= t "views.update.update" %></h1><br>
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <p>
        <%= f.label :avatar %>
        <div class="photo-preview">
          <% avatar_for @user, Settings.avatar.height, Settings.avatar.width %>
        </div>
        <%= f.file_field :avatar %>
      </p>
      <p>
        <%= f.label :name, t("views.signup.name") %>
        <%= f.text_field :name, class: "form-control" %>
      </p>
      <p>
        <%= f.label :email, t("views.signup.email") %>
        <%= f.email_field :email, class: "form-control" %>
      </p>
      <p>
        <%= f.label :password, t("views.signup.password") %>
        <%= f.password_field :password, class: "form-control" %>
      </p>
      <p>
        <%= f.label :password_confirmation,
          t("views.signup.password_confirmation") %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </p>
      <p>
        <%= f.submit t("views.update.save_change"), class: "btn btn-default" %>
      </p>
    <% end %>
  </div>
</div>
