<% provide :title, t("views.all_users") %>
<h1><%= t "views.all_users" %></h1>
<div class="row">
  <div class="col-md-12">
    <li class="list-group-item active"><%= t "views.all_users" %></li>
    <% if @users.present? %>
      <ul class="list-group">
        <% if @users.any? %>
          <%= render @users %>
        <% else %>
          <li class="list-group-item">
            <h4>
              <span class="text-info"><%= t "views.no_user" %></span>
            </h4>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @users %>
    <% else %>
      <li class="list-group-item">
        <h4>
          <span class="text-info"><%= t "views.no_user" %></span>
        </h4>
      </li>
    <% end %>
  </div>
</div>
