<% provide :title, @user.name %>

<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= link_to avatar_for(@user,
        Settings.avatar.height, Settings.avatar.width), @user %>
    </section>
    <section class="name">
      <p><%= link_to @user.name, @user %></p>
      <% if current_user? @user %>
        <p><%= link_to t("user.number_word", word_count: @count),
          words_path(condition: t("word.learned")) %></p>
      <% end %>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-9">
    <% if current_user?(@user) %>
      <div class="col-md-6 col-md-offset-4">
        <p>
          <%= link_to t("word.word_all"), words_path,
            class: "btn btn-success btn-lg" %>
          <%= link_to t("categories.lessons"), categories_path,
            class: "btn btn-warning btn-lg" %>
        </p>
      </div>
    <% else %>
      <%= render "follow_form" %><br/>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <% if @activities.present? %>
          <ul class="list-group">
            <li class="list-group-item active"><%= t "user.activities" %>
            </li>
            <% if @activities.any? %>
              <%= render @activities %>
            <% else %>
              <li class="list-group-item">
                <h4>
                  <span class="text-info"><%= t "views.no_activity" %></span>
                </h4>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul class="list-group">
            <li class="list-group-item active"><%= t "user.activities" %>
            </li>
            <li class="list-group-item">
              <h4>
                <span class="text-info"><%= t "views.no_activity" %></span>
              </h4>
             </li>
          </ul>
          <%= will_paginate @activities %>
        <% end %>
      </div>
    </div>
  </div>
</div>
