<div class="col-md-12 panel panel-default">
  <h3><%= t "admin.category.word_list" %></h3>
  <p><%= "#{@words.count} #{t "admin.words.words"}" %></p>
  <ul class="list-unstyled">
    <% if @words.present? %>
      <%= will_paginate @words %>
      <% @words.each do |word| %>
        <div class="col-md-6">
          <li><%= word.content %></li>
        </div>
        <div class="col-md-6">
          <p>
            <%= link_to t("admin.words.edit"),
              admin_category_path(@category, word_id: word.id) %>
          </p>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @words %>
  </ul>
</div>
